* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    color: darkblue;
    margin-top: 12px;
}

.search {
    display: flex;
    flex-direction: column;
    margin: 30px 67px 12px;
}

.search-input {
    padding: 8px 4px;
    border: 1px solid #4788C7;
    border-radius: 4px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8px 0;

}

#input-container {
    padding: 8px 180px 8px 4px;
    border: 1px solid #4788C7;
    border-radius: 4px;
}

.button {
    background-color: #B6DCFE;
    color: #4788C7;
    border: 1px solid #4788C7;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.titles {
    display: flex;
    justify-content: space-evenly;
}

.titles-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}